/*
Theme Name: Peter Cadoux Architects
Theme URI: http://underscores.me/
Author: Dyad Communications
Author URI: http://dyadcom.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: peter-cadoux-architects
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Peter Cadoux Architects is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
/* 1. RESET / normalize.css v1.1.3 | MIT License | git.io/normalize
----------------------------------------------------------------------------------------*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/*--------------------------------------------------------------
# Root
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
	color: #383838;
}

html { 
	background-color: #FFFFFF; 
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
html { 
	font-family: "minion-pro", Georgia, serif; 
	font-size: 14px;
	line-height: 1.65;
	color:  #222;

	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
body {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: 100;
  margin: 0;
}
h3 {
	font-style: italic;
}
p, ul, ol, dl, blockquote {
	font-size: 1.1rem;
	margin-top: 0;
	margin-bottom: 0.7em; 
}
	
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
dfn, cite, em, i { font-style: italic; }

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

section {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(100vh - 3.813em);
	height: auto;
	/*border-bottom: 2px solid red;*/
}

/*blockquote:before,*/
/*blockquote:after,*/
q:before,
q:after {
	content: "";
}

/*blockquote,*/
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


/* 4. LINKS
----------------------------------------------------------------------------------------*/
a { 
	outline: none; 
	color: #83837c; 
	text-decoration: none; 

	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}  
a:hover, li.current_page_item a { color: black; outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
.site-navigation {
	position: fixed;
	background-color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	left: 0; right: 0;
	z-index: 99999;
}
	@media screen and (min-width:34.313em) {
		.site-navigation.transparent {
			background-color: rgba(255,255,255, 0.8);

			-webkit-transition: background-color 0.5s;
			-moz-transition: background-color 0.5s;
			-ms-transition: background-color 0.5s;
			-o-transition: background-color 0.5s;
			transition: background-color 0.5s;
		}
		.site-navigation.transparent:hover {
			background-color: white
		}
	}
#main-menu  {
	position: relative;
	display: block;
	margin: 0 auto;

	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.5s 1.5s;
	-o-transition: opacity 0.5s 1.5s;
	transition: opacity 0.5s 1.5s;
}
.introComplete #main-menu {
	opacity: 1;
	filter: alpha(opacity=100);
}
.menu-item {
	display: inline-block;
	padding: 1rem 1rem;
}
#mobile-logo {
	display: none;
}
#desktop-logo {
	display: inline-block;
}
#hamburger-button {
	display: none;
}
	@media screen and (max-width:34.313em) {
		#hamburger-button {
			display: block;
			/*background-color: red;*/
			height: auto; width: 1rem;
			margin: 1.45rem 1rem 0.5rem 0;
			float: right;
		}
		.hamburger-line {
			height: 2px;
			width: 100%;
			background-color: #84847d;
			margin-bottom: 3px;
		}
		#mobile-logo {
			display: inline-block;
			padding: 1.15rem 0 0.9rem;
			text-align: center;
			margin-right: -1.5rem;
		}
		#desktop-logo {
			display: none;
		}
		.menu-item {
			display: block;
			/*min-width: 100%;*/
			padding: 0 0 1.25rem;
			flex: 1 100%;
		}
		.menu-item:nth-child(3) {
		  -webkit-box-ordinal-group: 4;  
		  -moz-box-ordinal-group: 4;     
		  -ms-flex-order: 4;     
		  -webkit-order: 4;  
			order: 4;
		}
		.menu-item:nth-child(4) {
		  -webkit-box-ordinal-group: 3;  
		  -moz-box-ordinal-group: 3;     
		  -ms-flex-order: 3;     
		  -webkit-order: 3; 
			 order: 3;
		}
	}

	@media screen and (min-width:34.313em) {
		.menu-item:nth-child(3),
		.menu-item:nth-child(4) {
			float: right;
		}
	}
/*#nav-logo {
	padding: 0.89rem 0 1rem;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 0.25%;

	-webkit-transition: width 2s;
	-o-transition: width 2s;
	transition: width 2s;
}
#nav-logo a {
	line-height:0;
	color: black;
}*/
.openedSlideshow .site-navigation a {
	/*color: white;*/
}
.openedSlideshow .site-navigation:hover a {
	/*color: #83837c; */
}
.showLogo .nav-logo .the_logo {
	-webkit-transition: fill 0.5s;
	-moz-transition: fill 0.5s;
	-ms-transition: fill 0.5s;
	-o-transition: fill 0.5s;
	transition: fill 0.5s;
}
.showLogo .nav-logo:hover .the_logo {
	fill: #222;
}
/*#nav-logo img {
	height: 1rem;
	width: 100%;
	display: inline-block;
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: width 1s, opacity 0.25s 0s;
	-o-transition: width 1s, opacity 0.25s 0s;
	transition: width 1s, opacity 0.25s 0s;
}
.showLogo #nav-logo {
	width: 6.5rem;
}
.showLogo #nav-logo img {
	width: 100%;

	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transition: width 1s, opacity 1s 0.5s;
	-o-transition: width 1s, opacity 1s 0.5s;
	transition: width 1s, opacity 1s 0.5s;
}
.showLogo .nav-logo:hover img {
	opacity: 0.75;
	filter: alpha(opacity=75);
}
*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
section {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}
#project-holder { 
	display: none; 
	height: 1px;
}
.section-title {
	font-size: 1.35rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #83837c;
	margin-bottom: 1.5rem;
}
.section-subtitle {
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	letter-spacing: 2px;
	line-height: 1;
}
.sub-section .section-title {
	margin-bottom: 0;
}
.project {
	display: inline-block;
	/*overflow: hidden;*/
	position: relative;
	margin-bottom: 1.75rem;
	/*width: 100%;*/
}
	@media screen and (min-width:40.000em) {
		.project {
			width: 49%;
			margin: 0 0.5% 1rem;
		}
	}
	@media screen and (min-width:65.750em) {
		.project {
			width: 32.3333%;
			margin: 0 0.33% 1rem;
		}
	}
#projects {
	margin:0 auto;
	padding-bottom: 6rem;
}
.section-image {
	display: block;
	position: relative;
	width: 100%;
	vertical-align: top;
}
.section-image .slide,
.section-image img {
	width: 100%;
}
.btn {
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 1px;
}
.instruction {
	font-size: 0.85rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ACAFA9;
	position: absolute;
	bottom: 0.75rem; right: 0; left: 0;

	opacity: 0;
	filter: alpha(opacity=0);

  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.instruction svg {
	height: 1.05rem;
	width: 1.05rem;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
	@media screen and (min-width:680px) {
		.instruction svg {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
.instruction.show {
  -webkit-animation: fadeInAnimation 3s 1s forwards;
  -moz-animation:    fadeInAnimation 3s 1s forwards;
  -o-animation:      fadeInAnimation 3s 1s forwards;
  animation:         fadeInAnimation 3s 1s forwards;

	opacity: 0.8;
	filter: alpha(opacity=80);
}
.content-container {
	max-width: 57rem;
	margin: 3rem auto;
}
.section-text {
	margin-bottom: 8rem;
	padding: 0 5%;
	font-size: 1.1rem;
	text-align: left;
}
.hidden-project .section-body {
	display: none;
}	
.lead-in {
	text-transform: uppercase;
	letter-spacing: 1px;
	/*font-size: 0.85rem;*/
	/*font-weight: 500;*/
}
.textpage-image {
	width: 17rem;
	max-width: 90%;
	margin: 0 auto 2.5rem;
}
.sub-section {
	max-width: 43rem;
	margin: 0 auto;
}
.col-left,
.col-right {
	position: relative;
	display: inline-block;
	width: 35%;
}
.two-col {
	margin: auto; 
}
#project-holder { 
	height: 0px;
	width: 100%;
	overflow: hidden;
}
#project-holder.slideshowGrow { 
	height: auto;
}
/* 6. CUSTOM LAYOUT & TYPOGRAPHY
----------------------------------------------------------------------------------------*/


/* HOMEPAGE SECTION */
.animation-text {
	position: absolute;
	z-index: 9999;
	top: 43%; left: 0; right: 0;
	margin-top: -1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.25vw;
	font-size: 3.25vw;
	text-align: center;
	color: #83837c;
	
	opacity: 0;
	filter: alpha(opacity=0);
}
	@media screen and (min-width:680px) {
		.animation-text {
		  -webkit-animation: fadeInOutAnimation 6s 1s forwards;
		  -moz-animation:    fadeInOutAnimation 6s 1s forwards;
		  -o-animation:      fadeInOutAnimation 6s 1s forwards;
		  animation:         fadeInOutAnimation 6s 1s forwards;
		}
	}
/*.introComplete .animation-text {
	opacity: 0;
	filter: alpha(opacity=0);
}*/
#homepage-slideshow {
	display: block;
	height: 78vh;
	overflow: hidden;
	position: relative;

	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 4s 1s;
	-o-transition: opacity 4s 1s;
	transition: opacity 4s 1s;
}
.introComplete #homepage-slideshow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.pager {
	margin-top: 0.5rem;
	font-family: "minion-pro", Georgia, serif; 
}
#homepage .slideshow .slide {
	position: absolute;
	width: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	cursor: pointer;
}
	@media screen and (min-width:680px) {
		.slideshow .slide {
			position: absolute;
			width: 100%;
			top: 0; right: 0; bottom: 0; left: 0;
			overflow: hidden;
			cursor: pointer;
		}
		.touch .slideshow .slide {
			position: relative;
	    display: inline-block;
	    height: 100vh;
		}
	}
#homepage .logo-holder {
	display: block;
	position: relative;
	height: 22vh;
	width: 100%;
	text-align: center;
}
#homepage .logo-holder {
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.5s 1.5s;
	-o-transition: opacity 0.5s 1.5s;
	transition: opacity 0.5s 1.5s;
}
	@media screen and (max-width:680px) {
		#homepage .section-text {
			margin-top: 3.75rem;
		}
	}
.introComplete #homepage .logo-holder {
	opacity: 1;
	filter: alpha(opacity=100);
}
.logo-holder .site-title {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4vh;
	
	width: 28vh;
	height: 16vh;
}
.section-introduction,
.section-text blockquote p {
	display:block;
	font-size: 1.25rem;
	margin: 0 auto 2rem;
	max-width: 46rem;
	text-align: center;
}
	@media screen and (max-width:680px) {
		#profile .section-text blockquote p {
			text-align: left;
		}
		#profile .section-text blockquote {
			margin: 0;
		}
	}
#profile .section-introduction {
	margin: 0 auto 2rem!important;
}
.nav-logo {
	display: inline-block;
}
.site-navigation {
	text-align: center;
}
.navigation-list {
	max-width: 38rem;
	margin-left: 0.75rem;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}	
	@media screen and (max-width:34.313em) {
		.navigation-list {
			/*display: none;*/
			position: fixed;
			left:0; right: 0; top: 3.65rem;
			background-color: white;
			padding: 0; margin: 0;
			max-height: 0;
			/*opacity: 0;*/
		  display: -webkit-box;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: -webkit-flex;
			display: flex;
			-webkit-box-flex-flow: row wrap;
		  -moz-box-flex-flow: row wrap;
		  -webkit-flex-flow: row wrap;
		  -ms-flex-flow: row wrap;
			flex-flow: row wrap;
			
			-webkit-transition: max-height 0.5s;
			-moz-transition: max-height 0.5s;
			-ms-transition: max-height 0.5s;
			-o-transition: max-height 0.5s;
			transition: max-height 0.5s;
		}
		.navigation-list.open {
			max-height: 20rem;
		}
	}
.nav-logo {
	display: inline-block;
	width: 0;
	overflow: hidden;
	vertical-align: middle;

	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: width 0.5s 0.35s, opacity 0.35s;
	-o-transition: width 0.5s 0.35s, opacity 0.35s;
	transition: width 0.5s 0.35s, opacity 0.35s;
}
 .site-navigation.showLogo .nav-logo {
 	width: 9rem;

	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transition: width 1s, opacity 1s 0.65s;
	-o-transition: width 1s, opacity 1s 0.65s;
	transition: width 1s, opacity 1s 0.65s;
 }
.nav-logo svg {
	height: 1.25rem;
	width: auto;
}

/* PROJECTS SECTION */
#projects-con {
	width: 95%;
	max-width:1800px;
	margin: 0 auto;

	-webkit-transition: opacity 0.5s, filter 0.5s, transform 0.25s;
	transition: opacity 0.5s, filter 0.5s, transform 0.25s;
}
	@media screen and (min-width:680px) {
		.thumb .project-image img {
			-webkit-transition: -webkit-transform 0.75s;
			transition: transform 0.75s;
		}
		.thumb:hover .project-image img {
			-webkit-transform: scale(1.05);
		  -moz-transform:    scale(1.05);
		  -ms-transform:     scale(1.05);
		  -o-transform:      scale(1.05);
			transform: 				 scale(1.05);
		}
	}
	.project-image {
		overflow: hidden;
	}
/*#projects-con:hover .thumb:hover,
.touch #projects-con:hover .thumb {
	opacity: 1;
	filter: alpha(opacity=100);
}*/
.project-text {
	position: relative;
	padding: 5rem 1rem 1.5rem;
	width: auto;
	color: white;
	color: #83837c; 
}
@media screen and ( min-width:680px ) {
	.project-text {
		padding:1rem;
		position: absolute;
		width: auto;
		left: 0;
		right: 0;
		bottom: 2rem;
		z-index: 999;
	}
}
.project-text:after {
	content: '';
	pointer-events: none;
	display: block;
	position: absolute;
	left: -5rem; right: 0; bottom: 0;
	min-width: 100vw;
	height: 5.5rem;
	background-color: rgba(255,255,255, 0.8);
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	z-index: -1;
}
.project-text:hover {
	color: #83837c; 
}
.project-text:hover:after {
	background-color: white;
	z-index: -1;
}
.project-title {
	font-size: 1.5rem;
	text-transform: capitalize;
	font-weight: 100;

	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	position: relative;
	overflow: visible;
	
}
.project-title:before,
.project-title:after {
	content: "—";
	display: inline-block;
	padding: 0 0.35rem;
}
.visible {
	opacity:1;
}
.project-text .section-body {
	text-align: center;
	color: #83837c;
	margin: 0 auto;
}
/* SLIDESHOW */
.hidden-project {
	position: relative;
}
.project-slideshow {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
}
@media screen and (min-width:680px) {
	.project-slideshow {
		width:100%;
		margin: 0 auto;
		height: 0;
		position: relative;
		background-color: #D5D4CC;
		opacity: 0.99;
		overflow: visible;

		-webkit-transition: all 0s cubic-bezier(.35,0,.55,1), opacity 1s, filter 1s;
		-moz-transition: all 0s cubic-bezier(.35,0,.55,1), opacity 1s, filter 1s;
		-ms-transition: all 0s cubic-bezier(.35,0,.55,1), opacity 1s, filter 1s;
		-o-transition: all 0s cubic-bezier(.35,0,.55,1), opacity 1s, filter 1s;
		transition: all 0s cubic-bezier(.35,0,.55,1), opacity 1s, filter 1s;

		opacity: 0;
		filter: alpha(opacity=0);
	}
}


.slide .image-holder {
	height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
}
	.touch .slide .image-holder {
		background-image: url('');
		background-color: gray;
	}
.project-slideshow .slide .image-holder.tall {
	background-size: contain;
}
.project-slideshow .slide .image-holder.wide {
	background-size: cover;
}
@media screen and (max-width:680px) {
	.project-slideshow .slide .image-holder.wide,
	.project-slideshow .slide .image-holder.tall  {
		background: transparent;
		height: auto;
	}
	.project-slideshow .slide .image-holder.wide,
	.project-slideshow .slide .image-holder.tall  {
		display: block!important;
		width: 100%;
		height: auto;
		position: relative;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.project-slideshow .slide .image-holder img {
		display: block!important;
		height: auto;
		width: 100%;
		margin-bottom: 0.25rem;
	}
	.project-slideshow .slide {
		position: relative;
	}
}
	@media screen and (min-width:680px) {
		.image-holder {
		  opacity: 0;
		  filter: alpha(opacity=0);

		  -webkit-transition: opacity 1s;
		  -moz-transition: opacity 1s;
		  -ms-transition: opacity 1s;
		  -o-transition: opacity 1s;
		  transition: opacity 1s;
		}
	}
.image-holder.isLoaded { 
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1;
}
.loader {
	text-transform: lowercase;
	color: black;
	font-size: 0.75rem;
	letter-spacing: 0px;
	font-style: italic;
	z-index: 9999;
	position: absolute;
	right: 0; left: 0; bottom: -15px;
}
.swipe-instructional {
	position: absolute;
	bottom: 8rem; left: 0; right: 0;
	color: white;
	font-style: italic;
	z-index: 9999;
}
	@media screen and (min-width:680px) {
		.loader {
			bottom: -10px;
		}
	}
.ring {
	z-index: -2;
	position:absolute;
	bottom: 0;
	top: 0;
	margin: auto 0;
	height:100%;
	width:100%;
	background-position:center center;
	background-repeat: no-repeat;
}
/* OPEN PROJECTS SECTION */
.slideshowGrow {
	width: 100%;
	max-width: none;
	padding-bottom: 2rem;
  margin-top: 1px;
}
.slideshowGrow .project-slideshow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.slideshowGrow .slide{
	background-size: contain;
}
.openDesc .project-text .section-body {
	width: 60%;
	max-width: 44rem;
	display: inline-block;
}
.btns {
	display: block;
	width: 100%;
}
.thumb {
	cursor: pointer;
}
.thumb h3 {
	margin-top: 0.5rem;
}
.slideshowGrow .expand-btn,
.close-btn,
.open-desc-btn,
.close-desc-btn,
.divider,
.pager {
	display: none;
}
.slideshowGrow .close-btn,
.slideshowGrow .open-desc-btn,
.slideshowGrow .divider,
.slideshowGrow .pager  {
	display: inline-block;
}
.openDesc .open-desc-btn {
	display: none;
}
.openDesc .close-desc-btn {
	display: inline-block;
}
.slideshowGrow .divider {
	padding: 0 0.5rem;
}
.slideshowGrow .pausedSlideshow .play-btn,
.slideshowGrow .play-btn,
.playingSlideshow .pause-btn  {
	display: inline-block;
}
.slideshowGrow .pausedSlideshow .pause-btn,
.slideshowGrow .playingSlideshow .pause-btn  {
	display: none;
}
.playingSlideshow .play-btn {
	display: none!important;
}
.project .expand-btn {
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.project:hover .expand-btn,
.touch .project .expand-btn {
	opacity: 1;
	filter: alpha(opacity=1);
}
.arrows {
	position: relative;
	display: none;
	cursor: pointer;
	padding: 0 0.5rem;
}
.arrows svg {
	stroke: white;
	stroke-width: 1;
	height: 0.75rem;
	width: 0.75rem;
	cursor: pointer;
}
.project-text .arrows svg {
	stroke: #83837c;
}
.arrows:hover svg {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.left-arrow {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
	@media screen and (max-width:680px) {
		.num-index {
			display: none;
		}
	}

	@media screen and (min-width:680px) {
		.slideshowGrow .arrows {
			display: inline-block;
		}
	}

#projects-con .section-title {
	padding-top: 3rem;
}
/* PROFILE */
#profile {
	background-color: #ecebe1;
}
#profile .section-introduction {
	margin-bottom:0!important;
	padding-bottom:0;
}

/* PRESS */
#press {
	padding-bottom: 5rem;
	background-color: #4E4E4A;
	color: #efefef;
}
#press .section-title {
	color: #B0B0A7;
}
#press .content-container {
	margin-bottom: 2rem;
}
#press .section-introduction,
#press .section-introduction p {
	margin-bottom: 0;
}
.press-list {
	list-style-type: none;
	text-align: left;
	padding: 0;
	width: 90%;
	/*padding-left: 7rem;*/
	margin: 0 auto;
}
	@media screen and (min-width:58.063em) {
		.press-list {
			width: 62rem;
		}
	}
.press-list-item {
	margin: 0 0 0.75rem;
	padding-bottom: 0.75rem;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
	border-bottom: 1px solid #787875;
}
.press-list-item:first-child {
	padding-top: 0.75rem;
	border-top: 1px solid #787875;
}
.press-list-item-title {
	font-weight: 600;
	font-style: normal;
	font-size: 1.35rem;
	padding-right: 0.5rem;
}
	@media screen and (min-width:40.250em) {
		.press-list-item-title {
			width: 50%;
			float: left;
		}
	}
.press-list-item-info {
	/*width: 50%;*/
	/*float: right;*/
}
	@media screen and (min-width:40.250em) {
		.press-list-item-info {
			width: 50%;
			float: left;
		  margin-top: 0.55rem;
		}
	}
/* CONTACT */
#contact .mobile-only-title {
	display: none;
}
@media screen and (max-width:680px) {
	#contact .mobile-only-title {
		display: block;
		margin-top: 1.75rem;
		margin-bottom: 0;
		letter-spacing: 1px;
	}
	#contact .desktop-only-title {
		display: none;
	}
}
#contact .section-title {
	color: white;
	z-index: 999;
	position: absolute;
	left: 0; right: 0; top: 1rem;
}
#contact a {
	color: #222;
}
.background-image {
	display: block;
	height: 100vh;
	overflow: hidden;
	position: relative;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
footer.site-footer {
	z-index: 999;
	position: absolute;
	bottom: 0; left: 0; right: 0;
	background: white;
	text-align: center;
}
/*footer.site-footer .logo-holder .site-title {
	height: 10rem;
	width: auto;
	
}*/
footer.site-footer .section-text {
	display: inline-block;
	text-align: center;
	margin-bottom: 1rem;
}
	@media all and (min-aspect-ratio: 5/3) {
		footer.site-footer .section-text p:nth-child(1),
		footer.site-footer .section-text p:nth-child(2) {
			display: inline-block;
			margin: 0 1rem;
			text-align: center;
			margin-bottom: 1rem;
			clear: both;
		}
	}


/* SOCIAL ICONS ON HOVER */
.social-links,
.share-button,
.mobile-share-button {
	text-transform: uppercase;
	letter-spacing: 1px;
	left: 2rem;
	position: absolute;
}
	.touch .image-holder:hover .social-links{
		opacity: 1;
		filter: alpha(opacity=100);
	}
.share-link,
.mobile-share-button {
	bottom: 0em;
	z-index: 999999;
}
.slide:hover .mobile-share-button{
	opacity: 1;
	filter: alpha(opacity=100);
}
.slide .mobile-share-button {
	opacity: 0;
	filter: alpha(opacity=0);
}
.isLoaded .mobile-share-button {
	opacity: 1;
	filter: alpha(opacity=100);
}
.share-button,
.mobile-share-button {
	display: block;
	bottom: 2rem;

	-webkit-transition: opacity 0.5s, bottom 1s;
	-o-transition: opacity 0.5s, bottom 1s;
	transition: opacity 0.5s, bottom 1s;
}
/*.mobile-share-button {
	bottom: 0.5rem;
	left: 0.75rem;
	text-shadow: 1px 1px 1px #000;
	color: white;
}*/
.social-links {
	bottom: 0;
	padding-bottom: 1rem;

	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 1s, bottom 1s;
	-o-transition: opacity 1s, bottom 1s;
	transition: opacity 1s, bottom 1s;
}
/*.share-link:hover .mobile-share-button {
	opacity: 0;
	filter: alpha(opacity=0);
}*/
@media screen and (max-width:680px) {
	.slide:hover .social-links{
		opacity: 1;
		filter: alpha(opacity=100);

		bottom: 0;
	}
}
	@media screen and (max-width:680px) {
		.social-links {
			left: 0.75rem;
			z-index: 999;
			padding-bottom: 0.25rem;
		}
	}
.openedSocial.social-links,
.social-links:hover .social-links {
	opacity: 1;
	filter: alpha(opacity=100);

	bottom: 5rem;
}
.share-icon,
.share-icon polygon {
	fill: white;
	width: 1.15rem;
	height: 1.15rem;
	line-height: 0;
	margin: 0; padding: 0;
	margin-right: 0.25rem;
	margin-bottom: -2px;
	vertical-align: baseline;
	/*text-shadow: 0px 2px rgba(0,0,0,0.7);*/

	-webkit-transition: fill 0.5s;
	-o-transition: fill 0.5s;
	transition: fill 0.5s;
}
	@media screen and (min-width:680px) {
		.share-icon,
		.share-icon polygon {
			width: 1.15rem;
			height: 1.15rem;
		}
	}
.social-links a {
	color: white;
	display: block;
	margin: 0.5rem 0;
	font-size: 1.25rem;
	text-align: left;
	/*text-shadow: 0px 2px rgba(0,0,0,0.7);*/

	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}
	@media screen and (max-width:680px) {
		.social-links a {
			margin: 0.25rem 0;
			font-size: 1rem;
			pointer-events: none;
			text-shadow: 1px 1px 1px #000;
		}
		.share-link:hover .social-links a {
			pointer-events: auto;
		}
	}
.share-link:hover .social-links a {
	pointer-events: auto;
}
	@media screen and (min-width:680px) {
		.share-link .social-links a {
			font-size: 1rem;
			line-height: 2.15;
			margin: 0;
		}
	}
	@media screen and (min-width:680px) {
		.mobile-share-button {
			display: none!important;
		}
	}
	@media screen and (max-width:680px) {
		.project-text .share-button {
			display: none;
		}
	}

.fb-share-button .pluginShareButtonLink a {
	color: white!important;

	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}
.social-links a:hover ,
.social-links a:hover .share-icon,
.social-links a:hover .share-icon polygon {
	color: gray;
	fill: gray;
	/*text-shadow: 0px 0px rgba(0,0,0,0);*/
}

.contact-social .social-link {
	display: inline-block;
	padding: 0.25rem;
}
.contact-social .social-link svg,
.contact-social .social-link svg polygon {
	height: 1.5rem;
	width: 1.5rem;
	fill: #83837c;

	-webkit-transition: fill 0.5s;
	-moz-transition: fill 0.5s;
	-ms-transition: fill 0.5s;
	-o-transition: fill 0.5s;
	transition: fill 0.5s;
	
}
.contact-social .social-link:hover svg,
.contact-social .social-link:hover svg polygon {
	fill: black;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* 8. ANIMATIONS
----------------------------------------------------------------------------------------*/
@-webkit-keyframes fadeInOutAnimation {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%   { opacity: 0; }
}
@-moz-keyframes fadeInOutAnimation {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%   { opacity: 0; }
}
@-o-keyframes fadeInOutAnimation {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%   { opacity: 0; }
}
@keyframes fadeInOutAnimation {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100%   { opacity: 0; }
}

@-webkit-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  50% { opacity: 1; }
}
@-moz-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100%  { opacity: 1; } 
}
@-o-keyframes fadeInAnimation {
  0%   { opacity: 0; }
   100%  { opacity: 1; }
}
@keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100%  { opacity: 1; }
}
